<?xml version="1.0" encoding="utf-8"?>

<?include ..\shared\common.wxi ?>

<?define APIDir = "$(var.ArtifactsRoot)\Microsoft.IIS.Administration" ?>
<?define SetupDir = "$(var.ArtifactsRoot)\Setup" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <Component Id="C_EmptyLogsDir" Directory="LogsDir" Guid="1629CD63-4336-4902-89BE-AAF85A984098" KeyPath="yes">
      <CreateFolder />
    </Component>
  </Fragment>
  
  <Fragment>
    <Component Id="C_ThirdPartyNotice.txt" Guid="3F38363B-ED38-4919-ACE6-DF7CC7578FDF" Directory="versionDir" Win64="$(var.IsWin64)">
      <File Id="ThirdPartyNotice.txt" Source="$(var.ArtifactsRoot)\..\ThirdPartyNotices.txt" />
    </Component>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="Microsoft_IIS_Administration_Collection" Directory="MSIISAdminDir">
      <Component Id="C_Microsoft.AspNetCore.Authentication.JwtBearer.dll" Guid="4c1c3ece-17b6-465f-a1e6-5e03b224fca8" Win64="$(var.IsWin64)">
        <File Id="Microsoft.AspNetCore.Authentication.JwtBearer.dll" Source="$(var.APIDir)\Microsoft.AspNetCore.Authentication.JwtBearer.dll" />
      </Component>
      <Component Id="C_Microsoft.Extensions.Hosting.WindowsServices.dll" Guid="3dd65f51-bc43-4eb3-b676-d1a54d073824" Win64="$(var.IsWin64)">
        <File Id="Microsoft.Extensions.Hosting.WindowsServices.dll" Source="$(var.APIDir)\Microsoft.Extensions.Hosting.WindowsServices.dll" />
      </Component>
      <Component Id="C_Microsoft.AspNetCore.JsonPatch.dll" Guid="7cfdfc9b-52f6-44c2-a6b7-1d26d3f80af5" Win64="$(var.IsWin64)">
        <File Id="Microsoft.AspNetCore.JsonPatch.dll" Source="$(var.APIDir)\Microsoft.AspNetCore.JsonPatch.dll" />
      </Component>
      <Component Id="C_Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll" Guid="978f2a7e-8835-4a50-b757-392b1156fded" Win64="$(var.IsWin64)">
        <File Id="Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll" Source="$(var.APIDir)\Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll" />
      </Component>
      <Component Id="C_Microsoft.AspNetCore.Mvc.Razor.Extensions.dll" Guid="48e22df9-884c-4117-9d49-9a5529581fff" Win64="$(var.IsWin64)">
        <File Id="Microsoft.AspNetCore.Mvc.Razor.Extensions.dll" Source="$(var.APIDir)\Microsoft.AspNetCore.Mvc.Razor.Extensions.dll" />
      </Component>
      <Component Id="C_Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation.dll" Guid="179ba8d8-911c-47c0-b86d-9316a3259ffc" Win64="$(var.IsWin64)">
        <File Id="Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation.dll" Source="$(var.APIDir)\Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation.dll" />
      </Component>
      <Component Id="C_Microsoft.AspNetCore.Razor.Language.dll" Guid="5a5cf27b-0e3c-4561-8790-67af63c8557c" Win64="$(var.IsWin64)">
        <File Id="Microsoft.AspNetCore.Razor.Language.dll" Source="$(var.APIDir)\Microsoft.AspNetCore.Razor.Language.dll" />
      </Component>
      <Component Id="C_Microsoft.CodeAnalysis.CSharp.dll" Guid="77d56fb0-7621-4510-860b-50c9089cd8a2" Win64="$(var.IsWin64)">
        <File Id="Microsoft.CodeAnalysis.CSharp.dll" Source="$(var.APIDir)\Microsoft.CodeAnalysis.CSharp.dll" />
      </Component>
      <Component Id="C_Microsoft.CodeAnalysis.dll" Guid="a6224426-173e-455f-8153-8e40534ab66b" Win64="$(var.IsWin64)">
        <File Id="Microsoft.CodeAnalysis.dll" Source="$(var.APIDir)\Microsoft.CodeAnalysis.dll" />
      </Component>
      <Component Id="C_Microsoft.CodeAnalysis.Razor.dll" Guid="c4c474b0-4ffd-420c-bfc3-3c185a580792" Win64="$(var.IsWin64)">
        <File Id="Microsoft.CodeAnalysis.Razor.dll" Source="$(var.APIDir)\Microsoft.CodeAnalysis.Razor.dll" />
      </Component>
      <Component Id="C_Microsoft.Extensions.DependencyModel.dll" Guid="4df5d325-3b81-4a1d-9888-68f8fc2f40ea" Win64="$(var.IsWin64)">
        <File Id="Microsoft.Extensions.DependencyModel.dll" Source="$(var.APIDir)\Microsoft.Extensions.DependencyModel.dll" />
      </Component>
      <Component Id="C_Microsoft.IdentityModel.JsonWebTokens.dll" Guid="4674129c-bc9e-43a9-a1a4-ffbd3c15797f" Win64="$(var.IsWin64)">
        <File Id="Microsoft.IdentityModel.JsonWebTokens.dll" Source="$(var.APIDir)\Microsoft.IdentityModel.JsonWebTokens.dll" />
      </Component>
      <Component Id="C_Microsoft.IdentityModel.Logging.dll" Guid="e1988e2a-1a2a-440e-8b68-3f24389b598b" Win64="$(var.IsWin64)">
        <File Id="Microsoft.IdentityModel.Logging.dll" Source="$(var.APIDir)\Microsoft.IdentityModel.Logging.dll" />
      </Component>
      <Component Id="C_Microsoft.IdentityModel.Protocols.dll" Guid="5903b3e2-d8d9-426d-9288-f8a7e44223b6" Win64="$(var.IsWin64)">
        <File Id="Microsoft.IdentityModel.Protocols.dll" Source="$(var.APIDir)\Microsoft.IdentityModel.Protocols.dll" />
      </Component>
      <Component Id="C_Microsoft.IdentityModel.Protocols.OpenIdConnect.dll" Guid="9f4083fb-4b73-4d49-ab59-fd20c910ef46" Win64="$(var.IsWin64)">
        <File Id="Microsoft.IdentityModel.Protocols.OpenIdConnect.dll" Source="$(var.APIDir)\Microsoft.IdentityModel.Protocols.OpenIdConnect.dll" />
      </Component>
      <Component Id="C_Microsoft.IdentityModel.Tokens.dll" Guid="b18f66ff-aa4e-4cf3-a883-3db024954c39" Win64="$(var.IsWin64)">
        <File Id="Microsoft.IdentityModel.Tokens.dll" Source="$(var.APIDir)\Microsoft.IdentityModel.Tokens.dll" />
      </Component>
      <Component Id="C_Microsoft.IIS.Administration.dll" Guid="f94ac255-799b-4f5d-86e6-0b8fb7cdacca" Win64="$(var.IsWin64)">
        <File Id="Microsoft.IIS.Administration.dll" Source="$(var.APIDir)\Microsoft.IIS.Administration.dll" />
      </Component>
      <Component Id="C_Microsoft.IIS.Administration.Core.dll" Guid="8cbce269-78f9-4bbf-b714-dc14aa17d106" Win64="$(var.IsWin64)">
        <File Id="Microsoft.IIS.Administration.Core.dll" Source="$(var.APIDir)\Microsoft.IIS.Administration.Core.dll" />
      </Component>
      <Component Id="C_Microsoft.IIS.Administration.Files.Core.dll" Guid="e6dd3e96-b6bf-428d-8145-f613433da408" Win64="$(var.IsWin64)">
        <File Id="Microsoft.IIS.Administration.Files.Core.dll" Source="$(var.APIDir)\Microsoft.IIS.Administration.Files.Core.dll" />
      </Component>
      <Component Id="C_Newtonsoft.Json.Bson.dll" Guid="d17aec10-b477-4e35-9534-71471db52908" Win64="$(var.IsWin64)">
        <File Id="Newtonsoft.Json.Bson.dll" Source="$(var.APIDir)\Newtonsoft.Json.Bson.dll" />
      </Component>
      <Component Id="C_Newtonsoft.Json.dll" Guid="bc065925-8a4e-4655-8d00-2f8ecdcafbbf" Win64="$(var.IsWin64)">
        <File Id="Newtonsoft.Json.dll" Source="$(var.APIDir)\Newtonsoft.Json.dll" />
      </Component>
      <Component Id="C_Serilog.dll" Guid="fa9073b0-4914-4591-bf9c-055dcd048c50" Win64="$(var.IsWin64)">
        <File Id="Serilog.dll" Source="$(var.APIDir)\Serilog.dll" />
      </Component>
      <Component Id="C_Serilog.Extensions.Logging.dll" Guid="f8c5ddbf-e54e-4a6a-a583-4a8ec966692d" Win64="$(var.IsWin64)">
        <File Id="Serilog.Extensions.Logging.dll" Source="$(var.APIDir)\Serilog.Extensions.Logging.dll" />
      </Component>
      <Component Id="C_Serilog.Sinks.File.dll" Guid="cb02e013-acec-4a85-9c0d-af63debb64cd" Win64="$(var.IsWin64)">
        <File Id="Serilog.Sinks.File.dll" Source="$(var.APIDir)\Serilog.Sinks.File.dll" />
      </Component>
      <Component Id="C_Microsoft.IdentityModel.Abstractions.dll" Guid="a0cb19b5-77f7-4b3c-b1fd-be79dd06a08a" Win64="$(var.IsWin64)">
        <File Id="Microsoft.IdentityModel.Abstractions.dll" Source="$(var.APIDir)\Microsoft.IdentityModel.Abstractions.dll" />
      </Component>
      <Component Id="C_System.IdentityModel.Tokens.Jwt.dll" Guid="36e521bf-65d7-4e61-a7bf-33d8e85211d3" Win64="$(var.IsWin64)">
        <File Id="System.IdentityModel.Tokens.Jwt.dll" Source="$(var.APIDir)\System.IdentityModel.Tokens.Jwt.dll" />
      </Component>
      <Component Id="C_System.ServiceProcess.ServiceController.dll" Guid="f693f958-dff6-4fd5-a236-47f88d735dee" Win64="$(var.IsWin64)">
        <File Id="System.ServiceProcess.ServiceController.dll" Source="$(var.APIDir)\System.ServiceProcess.ServiceController.dll" />
      </Component>
      <Component Id="C_microsoft.iis.administration.deps.json" Guid="8D909799-BAB3-4AE7-89FE-8CA026CE64E4" Win64="$(var.IsWin64)">
        <File Id="microsoft.iis.administration.deps.json" Source="$(var.APIDir)\microsoft.iis.administration.deps.json" />
      </Component>
      <Component Id="C_microsoft.iis.administration.runtimeconfig.json" Guid="9F61E619-94B2-44A7-B527-9CF55467ED8E" Win64="$(var.IsWin64)">
        <File Id="microsoft.iis.administration.runtimeconfig.json" Source="$(var.APIDir)\microsoft.iis.administration.runtimeconfig.json" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="WinRuntimesLib_Collection">
      <Component Id="C_Net100_System.ServiceProcess.ServiceController.dll" Guid="93ca527b-3596-40c7-8990-a59a12c6245e" Directory="Runtimes_Win_Lib_Net100" Win64="$(var.IsWin64)">
        <File Id="Net100_System.ServiceProcess.ServiceController.dll" KeyPath="yes" Source="$(var.APIDir)\runtimes\win\lib\net10.0\System.ServiceProcess.ServiceController.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="Plugins_Collection" Directory="PluginsDir">
      <Component Id="C_Microsoft.IIS.Administration.AccessManagement.dll" Guid="346d5cbc-f4e1-456c-aa5f-6c369308adea" Win64="$(var.IsWin64)">
        <File Id="Microsoft.IIS.Administration.AccessManagement.dll" Source="$(var.APIDir)\plugins\Microsoft.IIS.Administration.AccessManagement.dll" />
      </Component>
      <Component Id="C_Microsoft.IIS.Administration.Certificates.dll" Guid="cc9bf0b6-91de-4da2-81e3-5ae1eb235b02" Win64="$(var.IsWin64)">
        <File Id="Microsoft.IIS.Administration.Certificates.dll" Source="$(var.APIDir)\plugins\Microsoft.IIS.Administration.Certificates.dll" />
      </Component>
      <Component Id="C_Microsoft.IIS.Administration.Files.dll" Guid="f88c3a2a-d122-40c1-9d58-e7425526239d" Win64="$(var.IsWin64)">
        <File Id="Microsoft.IIS.Administration.Files.dll" Source="$(var.APIDir)\plugins\Microsoft.IIS.Administration.Files.dll" />
      </Component>
      <Component Id="C_Microsoft.IIS.Administration.WebServer.Applications.dll" Guid="dc503b77-b351-4d28-9fae-3081bb6044fb" Win64="$(var.IsWin64)">
        <File Id="Microsoft.IIS.Administration.WebServer.Applications.dll" Source="$(var.APIDir)\plugins\Microsoft.IIS.Administration.WebServer.Applications.dll" />
      </Component>
      <Component Id="C_Microsoft.IIS.Administration.WebServer.AppPools.dll" Guid="d38a817c-5c97-4466-8540-a63ad9197775" Win64="$(var.IsWin64)">
        <File Id="Microsoft.IIS.Administration.WebServer.AppPools.dll" Source="$(var.APIDir)\plugins\Microsoft.IIS.Administration.WebServer.AppPools.dll" />
      </Component>
      <Component Id="C_Microsoft.IIS.Administration.WebServer.Authentication.dll" Guid="be46b884-0031-45cf-bc3c-b22106177aa3" Win64="$(var.IsWin64)">
        <File Id="Microsoft.IIS.Administration.WebServer.Authentication.dll" Source="$(var.APIDir)\plugins\Microsoft.IIS.Administration.WebServer.Authentication.dll" />
      </Component>
      <Component Id="C_Microsoft.IIS.Administration.WebServer.Authorization.dll" Guid="1f31c1b5-e8be-4331-a343-e1b6b5efc821" Win64="$(var.IsWin64)">
        <File Id="Microsoft.IIS.Administration.WebServer.Authorization.dll" Source="$(var.APIDir)\plugins\Microsoft.IIS.Administration.WebServer.Authorization.dll" />
      </Component>
      <Component Id="C_Microsoft.IIS.Administration.WebServer.CentralCertificates.dll" Guid="fe4828d6-03da-43f9-aa52-0598b60885e0" Win64="$(var.IsWin64)">
        <File Id="Microsoft.IIS.Administration.WebServer.CentralCertificates.dll" Source="$(var.APIDir)\plugins\Microsoft.IIS.Administration.WebServer.CentralCertificates.dll" />
      </Component>
      <Component Id="C_Microsoft.IIS.Administration.WebServer.Compression.dll" Guid="8ccf4e48-008a-4106-9069-32add5c24e33" Win64="$(var.IsWin64)">
        <File Id="Microsoft.IIS.Administration.WebServer.Compression.dll" Source="$(var.APIDir)\plugins\Microsoft.IIS.Administration.WebServer.Compression.dll" />
      </Component>
      <Component Id="C_Microsoft.IIS.Administration.WebServer.DefaultDocuments.dll" Guid="3ee1fde3-b868-4159-9df0-878feb5ff2d1" Win64="$(var.IsWin64)">
        <File Id="Microsoft.IIS.Administration.WebServer.DefaultDocuments.dll" Source="$(var.APIDir)\plugins\Microsoft.IIS.Administration.WebServer.DefaultDocuments.dll" />
      </Component>
      <Component Id="C_Microsoft.IIS.Administration.WebServer.Delegation.dll" Guid="0f6c53bf-27bc-4b95-b9f5-3714e7ae9f00" Win64="$(var.IsWin64)">
        <File Id="Microsoft.IIS.Administration.WebServer.Delegation.dll" Source="$(var.APIDir)\plugins\Microsoft.IIS.Administration.WebServer.Delegation.dll" />
      </Component>
      <Component Id="C_Microsoft.IIS.Administration.WebServer.DirectoryBrowsing.dll" Guid="656b80ad-845d-4a9d-9f52-adfe313a3a92" Win64="$(var.IsWin64)">
        <File Id="Microsoft.IIS.Administration.WebServer.DirectoryBrowsing.dll" Source="$(var.APIDir)\plugins\Microsoft.IIS.Administration.WebServer.DirectoryBrowsing.dll" />
      </Component>
      <Component Id="C_Microsoft.IIS.Administration.WebServer.dll" Guid="52b3ab95-e33a-4a4d-9837-0d4dab8c2f33" Win64="$(var.IsWin64)">
        <File Id="Microsoft.IIS.Administration.WebServer.dll" Source="$(var.APIDir)\plugins\Microsoft.IIS.Administration.WebServer.dll" />
      </Component>
      <Component Id="C_Microsoft.IIS.Administration.WebServer.Files.dll" Guid="58808de6-d537-4e5e-8f29-71039d9227a1" Win64="$(var.IsWin64)">
        <File Id="Microsoft.IIS.Administration.WebServer.Files.dll" Source="$(var.APIDir)\plugins\Microsoft.IIS.Administration.WebServer.Files.dll" />
      </Component>
      <Component Id="C_Microsoft.IIS.Administration.WebServer.Handlers.dll" Guid="93ca2dbc-bdfa-45d2-8426-686d7b6096f3" Win64="$(var.IsWin64)">
        <File Id="Microsoft.IIS.Administration.WebServer.Handlers.dll" Source="$(var.APIDir)\plugins\Microsoft.IIS.Administration.WebServer.Handlers.dll" />
      </Component>
      <Component Id="C_Microsoft.IIS.Administration.WebServer.HttpRedirect.dll" Guid="2160ada9-55ea-4ddb-b0f2-f23a0a0f5c83" Win64="$(var.IsWin64)">
        <File Id="Microsoft.IIS.Administration.WebServer.HttpRedirect.dll" Source="$(var.APIDir)\plugins\Microsoft.IIS.Administration.WebServer.HttpRedirect.dll" />
      </Component>
      <Component Id="C_Microsoft.IIS.Administration.WebServer.HttpRequestTracing.dll" Guid="3d4943dc-1cf6-4a5a-b7c8-9b6e173c5e96" Win64="$(var.IsWin64)">
        <File Id="Microsoft.IIS.Administration.WebServer.HttpRequestTracing.dll" Source="$(var.APIDir)\plugins\Microsoft.IIS.Administration.WebServer.HttpRequestTracing.dll" />
      </Component>
      <Component Id="C_Microsoft.IIS.Administration.WebServer.HttpResponseHeaders.dll" Guid="bef70d6a-5a39-4afc-8586-2e79ca0d3d99" Win64="$(var.IsWin64)">
        <File Id="Microsoft.IIS.Administration.WebServer.HttpResponseHeaders.dll" Source="$(var.APIDir)\plugins\Microsoft.IIS.Administration.WebServer.HttpResponseHeaders.dll" />
      </Component>
      <Component Id="C_Microsoft.IIS.Administration.WebServer.Info.dll" Guid="ba435617-70c5-41ae-9e4c-388f75f5de3d" Win64="$(var.IsWin64)">
        <File Id="Microsoft.IIS.Administration.WebServer.Info.dll" Source="$(var.APIDir)\plugins\Microsoft.IIS.Administration.WebServer.Info.dll" />
      </Component>
      <Component Id="C_Microsoft.IIS.Administration.WebServer.IPRestrictions.dll" Guid="8fde9aac-7088-4943-9432-4b30e5b65d01" Win64="$(var.IsWin64)">
        <File Id="Microsoft.IIS.Administration.WebServer.IPRestrictions.dll" Source="$(var.APIDir)\plugins\Microsoft.IIS.Administration.WebServer.IPRestrictions.dll" />
      </Component>
      <Component Id="C_Microsoft.IIS.Administration.WebServer.Logging.dll" Guid="886f8d95-3dbd-4f2b-b40c-db655bf85d1a" Win64="$(var.IsWin64)">
        <File Id="Microsoft.IIS.Administration.WebServer.Logging.dll" Source="$(var.APIDir)\plugins\Microsoft.IIS.Administration.WebServer.Logging.dll" />
      </Component>
      <Component Id="C_Microsoft.IIS.Administration.WebServer.Modules.dll" Guid="980c7788-7014-487d-83ef-dd64231ca00c" Win64="$(var.IsWin64)">
        <File Id="Microsoft.IIS.Administration.WebServer.Modules.dll" Source="$(var.APIDir)\plugins\Microsoft.IIS.Administration.WebServer.Modules.dll" />
      </Component>
      <Component Id="C_Microsoft.IIS.Administration.WebServer.Monitoring.dll" Guid="b176342a-42f2-48c2-bc7f-8bf1c1d1c45a" Win64="$(var.IsWin64)">
        <File Id="Microsoft.IIS.Administration.WebServer.Monitoring.dll" Source="$(var.APIDir)\plugins\Microsoft.IIS.Administration.WebServer.Monitoring.dll" />
      </Component>
      <Component Id="C_Microsoft.IIS.Administration.WebServer.RequestFiltering.dll" Guid="d7c65417-2a7d-415f-b34a-99818055a0e1" Win64="$(var.IsWin64)">
        <File Id="Microsoft.IIS.Administration.WebServer.RequestFiltering.dll" Source="$(var.APIDir)\plugins\Microsoft.IIS.Administration.WebServer.RequestFiltering.dll" />
      </Component>
      <Component Id="C_Microsoft.IIS.Administration.WebServer.RequestMonitor.dll" Guid="692bb7fb-8f45-4fb3-8193-eae4c75e5f08" Win64="$(var.IsWin64)">
        <File Id="Microsoft.IIS.Administration.WebServer.RequestMonitor.dll" Source="$(var.APIDir)\plugins\Microsoft.IIS.Administration.WebServer.RequestMonitor.dll" />
      </Component>
      <Component Id="C_Microsoft.IIS.Administration.WebServer.Scm.dll" Guid="74528e2b-9a8e-4159-8e0d-ae453a4aa622" Win64="$(var.IsWin64)">
        <File Id="Microsoft.IIS.Administration.WebServer.Scm.dll" Source="$(var.APIDir)\plugins\Microsoft.IIS.Administration.WebServer.Scm.dll" />
      </Component>
      <Component Id="C_Microsoft.IIS.Administration.WebServer.Sites.dll" Guid="95465f7d-fcf4-4abf-81fe-66989bbc12e6" Win64="$(var.IsWin64)">
        <File Id="Microsoft.IIS.Administration.WebServer.Sites.dll" Source="$(var.APIDir)\plugins\Microsoft.IIS.Administration.WebServer.Sites.dll" />
      </Component>
      <Component Id="C_Microsoft.IIS.Administration.WebServer.SslSettings.dll" Guid="06efe65a-4aab-4796-b3a6-92fe558e0d22" Win64="$(var.IsWin64)">
        <File Id="Microsoft.IIS.Administration.WebServer.SslSettings.dll" Source="$(var.APIDir)\plugins\Microsoft.IIS.Administration.WebServer.SslSettings.dll" />
      </Component>
      <Component Id="C_Microsoft.IIS.Administration.WebServer.StaticContent.dll" Guid="e66af6fc-fce2-4e49-b858-38914cb868dd" Win64="$(var.IsWin64)">
        <File Id="Microsoft.IIS.Administration.WebServer.StaticContent.dll" Source="$(var.APIDir)\plugins\Microsoft.IIS.Administration.WebServer.StaticContent.dll" />
      </Component>
      <Component Id="C_Microsoft.IIS.Administration.WebServer.UrlRewrite.dll" Guid="1a667e83-534b-42bc-8060-aae128d36e0e" Win64="$(var.IsWin64)">
        <File Id="Microsoft.IIS.Administration.WebServer.UrlRewrite.dll" Source="$(var.APIDir)\plugins\Microsoft.IIS.Administration.WebServer.UrlRewrite.dll" />
      </Component>
      <Component Id="C_Microsoft.IIS.Administration.WebServer.VirtualDirectories.dll" Guid="a6ce367f-b934-467a-ba96-6e478f0ec6a6" Win64="$(var.IsWin64)">
        <File Id="Microsoft.IIS.Administration.WebServer.VirtualDirectories.dll" Source="$(var.APIDir)\plugins\Microsoft.IIS.Administration.WebServer.VirtualDirectories.dll" />
      </Component>
      <Component Id="C_Microsoft.IIS.Administration.WebServer.WorkerProcesses.dll" Guid="ef4573e6-f42d-4ecd-8c04-11f4099f8988" Win64="$(var.IsWin64)">
        <File Id="Microsoft.IIS.Administration.WebServer.WorkerProcesses.dll" Source="$(var.APIDir)\plugins\Microsoft.IIS.Administration.WebServer.WorkerProcesses.dll" />
      </Component>
      <Component Id="C_Microsoft.Web.Administration.dll" Guid="4451bc61-66df-46f0-8c15-cc2be7f1cc3f" Win64="$(var.IsWin64)">
        <File Id="Microsoft.Web.Administration.dll" Source="$(var.APIDir)\plugins\Microsoft.Web.Administration.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="Scripts_Collection" Directory="SetupDir">
      <Component Id="C_acl_util.ps1" Guid="BE73A2FB-2A76-4C33-9D5A-B0D752481A5F" Win64="$(var.IsWin64)">
        <File Id="acl_util.ps1" Source="$(var.SetupDir)\acl-util.ps1" />
      </Component>
      <Component Id="C_cache.ps1" Guid="FCE9490B-D8C1-4C02-8BF5-54FD5F6792D7" Win64="$(var.IsWin64)">
        <File Id="cache.ps1" Source="$(var.SetupDir)\cache.ps1" />
      </Component>
      <Component Id="C_cert.ps1" Guid="DB1AF02F-2963-44D5-8CA5-39F57CAAD954" Win64="$(var.IsWin64)">
        <File Id="cert.ps1" Source="$(var.SetupDir)\cert.ps1" />
      </Component>
      <Component Id="C_config.ps1" Guid="2F8FD465-E2C1-4D5D-8395-D4AC12064B16" Win64="$(var.IsWin64)">
        <File Id="config.ps1" Source="$(var.SetupDir)\config.ps1" />
      </Component>
      <Component Id="C_dependencies.ps1" Guid="533B7BC7-F453-46AF-BD0E-76E7764FCA68" Win64="$(var.IsWin64)">
        <File Id="dependencies.ps1" Source="$(var.SetupDir)\dependencies.ps1" />
      </Component>
      <Component Id="C_files.ps1" Guid="B488EC22-EC6C-47D2-B15B-DCF8AF127EA7" Win64="$(var.IsWin64)">
        <File Id="files.ps1" Source="$(var.SetupDir)\files.ps1" />
      </Component>
      <Component Id="C_globals.ps1" Guid="8FE4306D-E976-4599-9242-547342F9E2BA" Win64="$(var.IsWin64)">
        <File Id="globals.ps1" Source="$(var.SetupDir)\globals.ps1" />
      </Component>
      <Component Id="C_ensure_cert.ps1" Guid="F18443E2-59FE-4296-8028-9431B2687104" Win64="$(var.IsWin64)">
        <File Id="ensure_cert.ps1" Source="$(var.SetupDir)\ensure-cert.ps1" />
      </Component>
      <Component Id="C_install.ps1" Guid="AFAE59DA-884A-4C7C-9940-A7EC1C1449AB" Win64="$(var.IsWin64)">
        <File Id="install.ps1" Source="$(var.SetupDir)\install.ps1" />
      </Component>
      <Component Id="C_json.ps1" Guid="65e0b709-7d80-4b09-bdb2-091cff2614d4" Win64="$(var.IsWin64)">
        <File Id="json.ps1" Source="$(var.SetupDir)\json.ps1" />
      </Component>
      <Component Id="C_migrate.ps1" Guid="2065072B-6E7F-460F-86D0-856182513CB3" Win64="$(var.IsWin64)">
        <File Id="migrate.ps1" Source="$(var.SetupDir)\migrate.ps1" />
      </Component>
      <Component Id="C_modules.ps1" Guid="D6E47EF9-03B0-49FD-AA87-9C4302202890" Win64="$(var.IsWin64)">
        <File Id="modules.ps1" Source="$(var.SetupDir)\modules.ps1" />
      </Component>
      <Component Id="C_msisetup.ps1" Guid="B741E801-FD6D-459B-8D93-BA39E62FD015" Win64="$(var.IsWin64)">
        <File Id="msisetup.ps1" Source="$(var.SetupDir)\msi-setup.ps1" />
      </Component>
      <Component Id="C_net.ps1" Guid="70EA0014-62BC-4CFE-A82B-69BDDED49B59" Win64="$(var.IsWin64)">
        <File Id="net.ps1" Source="$(var.SetupDir)\net.ps1" />
      </Component>
      <Component Id="C_netsh.ps1" Guid="7740E663-2F88-47B5-BFAA-7497A9E17B47" Win64="$(var.IsWin64)">
        <File Id="netsh.ps1" Source="$(var.SetupDir)\netsh.ps1" />
      </Component>
      <Component Id="C_require.ps1" Guid="E90E73C9-7753-4DF2-82B7-1D87F8BD9993" Win64="$(var.IsWin64)">
        <File Id="require.ps1" Source="$(var.SetupDir)\require.ps1" />
      </Component>
      <Component Id="C_sanitize_logs.ps1" Guid="BB859A94-6BEC-44B5-93E8-6C0DB3A7698A" Win64="$(var.IsWin64)">
        <File Id="sanitize_logs.ps1" Source="$(var.SetupDir)\sanitize-logs.ps1" />
      </Component>
      <Component Id="C_security.ps1" Guid="37D8687C-643A-4F6D-AD8F-4C8946340891" Win64="$(var.IsWin64)">
        <File Id="security.ps1" Source="$(var.SetupDir)\security.ps1" />
      </Component>
      <Component Id="C_services.ps1" Guid="8AD46367-148F-443B-A7F6-8A644108FF34" Win64="$(var.IsWin64)">
        <File Id="services.ps1" Source="$(var.SetupDir)\services.ps1" />
      </Component>
      <Component Id="C_setup.ps1" Guid="8677D950-B582-475C-AEEA-D642A7E60DB6" Win64="$(var.IsWin64)">
        <File Id="setup.ps1" Source="$(var.SetupDir)\setup.ps1" />
      </Component>
      <Component Id="C_uninstall.ps1" Guid="00EAFCC8-84D9-474F-A5E9-D9167CFCB4A3" Win64="$(var.IsWin64)">
        <File Id="uninstall.ps1" Source="$(var.SetupDir)\uninstall.ps1" />
      </Component>
      <Component Id="C_ver.ps1" Guid="115928F9-7895-4123-943C-FF8099D11A35" Win64="$(var.IsWin64)">
        <File Id="ver.ps1" Source="$(var.SetupDir)\ver.ps1" />
      </Component>
      <Component Id="C_version.json" Guid="709960CD-BDAE-48AA-BBEB-7DCE1E05B753" Win64="$(var.IsWin64)">
        <File Id="version.json" Source="$(var.SetupDir)\version.json" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="Config_Collection" Directory="ConfigDir">
      <Component Id="C_appsettings.json" Guid="2667BF62-9935-4687-9150-30ADB32C935C" Win64="$(var.IsWin64)">
        <File Id="appsettings.json" Source="$(var.APIDir)\Config\appsettings.json" />
      </Component>
      <Component Id="C_api_keys.json" Guid="1259FE37-BF57-441D-8346-8F0BBB5F09D6" Win64="$(var.IsWin64)">
        <File Id="api_keys.json" Source="$(var.APIDir)\Config\api-keys.json" />
      </Component>
      <Component Id="C_modules.json" Guid="5CE6103F-44B5-474A-AB0A-9409FF6ADBE9" Win64="$(var.IsWin64)">
        <File Id="modules.json" Source="$(var.APIDir)\Config\modules.json" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="Views_Collection">
      <Component Id="C_Index_AccessKeys.cshtml" Guid="B2C22C4A-44CD-49AC-8019-B0BCDBE162C5" Directory="ViewsAccessKeysDir" Win64="$(var.IsWin64)">
        <File Id="Index_AccessKeys.cshtml" Source="$(var.APIDir)\views\AccessKeys\Index.cshtml" />
      </Component>
      <Component Id="C_Index_Connect.cshtml" Guid="778C48D9-578C-4816-AC66-11E017E68564" Directory="ViewsConnectDir" Win64="$(var.IsWin64)">
        <File Id="Index_Connect.cshtml" Source="$(var.APIDir)\views\Connect\Index.cshtml" />
      </Component>
      <Component Id="C_Index_Explorer.cshtml" Guid="AE6D9F89-10B3-4D03-AAAB-2DB442DD05AB" Directory="ViewsExplorerDir" Win64="$(var.IsWin64)">
        <File Id="Index_Explorer.cshtml" Source="$(var.APIDir)\views\Explorer\Index.cshtml" />
      </Component>
      <Component Id="C_Index_Ping.cshtml" Guid="DB7F0717-6B77-413D-B7DB-211B00372B61" Directory="ViewsPingDir" Win64="$(var.IsWin64)">
        <File Id="Index_Ping.cshtml" Source="$(var.APIDir)\views\Ping\Index.cshtml" />
      </Component>
      <Component Id="C_Layout.cshtml" Guid="4C64E177-4267-4394-A644-E5C07E711BA2" Directory="ViewsSharedDir" Win64="$(var.IsWin64)">
        <File Id="Layout.cshtml" Source="$(var.APIDir)\views\Shared\_Layout.cshtml" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="wwwRoot_Collection">
      <Component Id="C_accesskeys.css" Guid="0C5773CA-B713-4B4C-915C-7A8C3B4D480C" Directory="wwwCSSDir" Win64="$(var.IsWin64)">
        <File Id="accesskeys.css" Source="$(var.APIDir)\wwwroot\css\access-keys.css" />
      </Component>
      <Component Id="C_connect.css" Guid="C8E4D456-74C0-4BC6-B4C9-AA65262DAF2C" Directory="wwwCSSDir" Win64="$(var.IsWin64)">
        <File Id="connect.css" Source="$(var.APIDir)\wwwroot\css\connect.css" />
      </Component>
      <Component Id="C_explorer.css" Guid="2D7B9AEF-A283-45B1-A220-B5B9F0D1AD78" Directory="wwwCSSDir" Win64="$(var.IsWin64)">
        <File Id="explorer.css" Source="$(var.APIDir)\wwwroot\css\explorer.css" />
      </Component>
      <Component Id="C_main.css" Guid="5EB8FC2A-3D52-4A1C-8AF9-0A40A0FA7921" Directory="wwwCSSDir" Win64="$(var.IsWin64)">
        <File Id="main.css" Source="$(var.APIDir)\wwwroot\css\main.css" />
      </Component>
      <Component Id="C_accesskeys.js" Guid="3E1508A8-81E3-4D6B-8CD2-E7A8F8AB2AB2" Directory="wwwJSDir" Win64="$(var.IsWin64)">
        <File Id="accesskeys.js" Source="$(var.APIDir)\wwwroot\js\access-keys.js" />
      </Component>
      <Component Id="C_connect.js" Guid="C1AA8247-694C-4816-BBEC-327C0B2D4F82"  Directory="wwwJSDir" Win64="$(var.IsWin64)">
        <File Id="connect.js" Source="$(var.APIDir)\wwwroot\js\connect.js" />
      </Component>
      <Component Id="C_explorer.js" Guid="C4C8BC96-DE2D-4644-9FA4-8310D1A15B4A" Directory="wwwJSDir" Win64="$(var.IsWin64)">
        <File Id="explorer.js" Source="$(var.APIDir)\wwwroot\js\explorer.js" />
      </Component>
      <Component Id="C_main.js" Guid="6092300E-6CF4-49E5-83E0-9CB16062D861" Directory="wwwJSDir" Win64="$(var.IsWin64)">
        <File Id="main.js" Source="$(var.APIDir)\wwwroot\js\main.js" />
      </Component>
      <Component Id="C_jquery_min.js" Guid="26402a98-d703-4b7c-b487-dede291f613c" Directory="wwwJqueryDir" Win64="$(var.IsWin64)">
        <File Id="jquery.min.js" Source="$(var.APIDir)\wwwroot\lib\jquery\jquery.min.js" />
      </Component>
    </ComponentGroup>
  </Fragment>

</Wix>
